<div class="listings">
<% if @listings.length == 0 %>
  <i>No listings.</i>
<% end %>

<% for listing in @listings %>
<div class="listing">
  <% if not @subcategory and listing.subcategory %>
    <p>Subcategory: <span class="subcategories"><%= h listing.subcategory.name %></span></p>
  <% end %>
  <h3><%= h listing.title %></h3>
  <p>
  <%= h listing.body %>
  </p>
</div>
<% end %>

</div>