<div class="categories">
  <h2>Browse by Category</h2>
  <hr />
  <table width="100%">
  <tr>
    <% for categories in @cat_thirds do %>
      <td valign="top" width="30%">
      <% for category in categories do %>
        <div class="category">
        <h2><%= link_to "#{category.name.downcase} (#{category.listings.length})", :action => :show_category, :id => category.id %></h2>
        <div class="subcategories">
          <%= (category.subcategories.map { |subcat| link_to("#{subcat.name.downcase} (#{subcat.listings.length})", :action => :show_subcategory, :id => subcat.id) }).join(", ") %>
        </div>
        </div>
      <% end %>
      </td>
    <% end %>
  </tr></table>
</div>