<div id="main">
  <div class="main_content">
    <table id="cover_table">
      <tr>
        <td>
          <a href="/main/main"><div id="cover2011"></div></a>
    
          <div id="cover_text">
            <p>Terra Essentials is Your Guide to Holistic Health and Sustainable Living in the Pikes Peak Region. <a href="http://www.equinaut.net/">Equinaut.net</a> addresses women's issues and community building. <a href="http://www.verdant-marketing.com">Verdant Marketing</a> offers expertise on Face 2 Face Green Marketing and, coming soon, <a href="http://www.whattoexpectinasession.com">What to Expect in a Session</a> will highlight subcategories in the directory.</p>
      
            <p>In addition, check out the most recent ebooks and edirectories in the ebooks selections.</p>
          </div>
        </td>
        <td align=right>
          <a href="http://www.t-essentials.com/main/main"><img src="/images/te-theme5/te-button.png" /></a>
          <br /><br />
          <a href="http://www.vitesis.com"><img src="/images/te-theme5/vi-button.png" /></a>
          <br /><br />
          <a href="http://www.equinaut.net"><img src="/images/te-theme5/eq-button.png" /></a>
          <br /><br />
          <a href="http://www.verdant-marketing.com"><img src="/images/te-theme5/vm-button.png" /></a>
          <br /><br />
          <a href="http://www.whattoexpectinasession.com"><img src="/images/te-theme5/w2-button.png" /></a>
          <br /><br />
          <a href="http://media.t-essentials.com/downloads/2011%20Repurposing%20&%20Recycling%20Guide.pdf"><img src="/images/te-theme5/eb-button.png" /></a>
        </td>
      </tr>
    </table>
  </div>
</div>