body {
  background: #f0fff0 url(/images/grad-green.png) fixed repeat-x;
  color: #333; 
}
 
body, p, ol, ul, td {
  font-family: helvetica, arial, sans-serif;
  font-size:   12px;
  line-height: 15px;
}
 
.categories, .category, .regions, .region  {
  margin-top: 10px;
  font-size: 75%;
} 

#subcategories, .subcategories {
  font-weight: bold;
  font-size: 120%;
}

.listing_subcategory {
  margin-top: 20px;
}

.listing {
  margin-top: 10px;
}


#leftsidebar {
  padding-right: 15px;
}

#searchbox {
  padding-bottom: 15px;
  border-bottom: thin solid gray;
}

#categorybox {
  margin-top: 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
 
a {
  color: #000;
  text-decoration: none;
}
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
  
 
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
 
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
 
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
 
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
 
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
 
div.uploadStatus {
  margin: 5px;
}
 
div.progressBar {
  margin: 5px;
}
 
div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}
 
div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

table.nice {
	border-width: 2px;
	border-spacing: 3px;
	border-style: groove;
	border-color: gray;
	border-collapse: separate;
}

table.nice th, table.nice td {
	border-width: 1px;
	padding: 4px;
	border-style: groove;
	border-color: gray;
	-moz-border-radius: 4px;
}

.aligncenter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sideimage {
  margin-left: 35px;
}
