body {
  background-color: #f0fff0;
  background-image: url(/images/grad-green.png);
  background-repeat: repeat-x;
  color: #333; 
}

body, p, ol, ul, td {
  font-family: "Lucida Grande", "Lucida Sans Unicode", verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 15px;
}

#header {
  margin-bottom: 20px;
}

#linkbar {
  margin: 0px auto 0px auto;
  text-align: center;
  font-size: 120%;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

#linkbar a {
  text-decoration: none;
  padding: 6px;
}


table#site_management_table {
  margin-top: 20px;
}

#charge_table, #payment_table table, #comment_table, #ad_table, #listings_table table {
  margin-top: 15px;
}

body table {
  border-width: 1px 1px 1px 1px;
  border-spacing: 2px;
  border-style: inset inset inset inset;
  border-color: gray gray gray gray;
  border-collapse: separate;
  background-color: rgb(240, 255, 240);
}
body table th {
  border-width: thin thin thin thin;
  padding: 4px;
  border-style: outset outset outset outset;
  border-color: gray gray gray gray;
  background-color: rgb(230, 255, 230);
  -moz-border-radius: 0px 0px 0px 0px;
}
body table td {
  border-width: thin thin thin thin;
  padding: 4px;
  border-style: outset outset outset outset;
  border-color: gray gray gray gray;
  background-color: rgb(230, 255, 230);
  -moz-border-radius: 0px 0px 0px 0px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

td pre {
  background-color: rgb(250,255,250);
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

input.submit, input.button {
  background-image: url(/images/button-bg.png);
  background-repeat: repeat-x;
  height: 49px;
  font-size: 120%;
}

#upload_table, #payment_table, #charge_table, #ad_table, #comment_table {
  margin-top: 40px;
}


