body {
  background: #fff;
  color: #000;
}

body, p, ol, ul, td {
  font-family: "Lucida Grande", "Lucida Sans Unicode", verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 15px;
}

a {
  color: #000;
  text-decoration: none;
}

p a:hover, li a:hover, #column1 a:hover, #column2 a:hover, #column3 a:hover, #downloads a:hover {
  color: #fff; background-color:#000;
}

/* IE fix */
a img {
  border: none;
}


div#left {
  margin: 0px;
  padding: 0px;
  display: block;
}

div#header {
  background: url('/images/te-theme3/banner.png') no-repeat;
  width: 726px;
  height: 104px;
  position: relative;
  top: 10px;
  left: 24px;
}

div#ad_sidebar {
  position: absolute;
  top: 20px;
  left: 780px;
  width: 256px;
}

div.purple_buttons {
  float: right;
  width: 200px;
  padding: 0;
  margin: 0;
}

div.purple_buttons h1 {
  margin: 0 auto;
  text-align: center;
}

div.purple_button {
  width: 101px;
  height: 47px;
  margin: 0px auto -4px auto;
  color: #fff;
  text-align: center;
  font-size: 95%;
  background: url('/images/te-theme3/purpleButton.png') no-repeat;
}

div.blue_ad {
  width: 240px;
  background: url('/images/te-theme/blue-background.png') repeat-x;
  padding-bottom: 10px;
  height: 107px;
}

div.blue_ad p {
  font-size: 26px;
  line-height: 30px;
  color: #fff;
  padding-top: 20px;
  font-style: italic;
  font-weight: bold;
  font-family: georgia, palatino, times, serif;
}

.ad {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ad a:hover { background-color: #fff; }

.aligncenter {
  text-align: center;
}

div#categorybox {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 740px;
  height: 20px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

div#categorybox h1 {
  float: right;
  font-size: 1em;
  font-weight: normal;
  margin-top: 0px;
}

div#categorybox h2 {
  font-size: 1em;
  text-align: left;
}

div#categorybox ul, div#categorybox ul ul{
  list-style-type: none;
  margin-left: -15px;
  margin-top: 0px;
}

div#categorybox ul li, div#categorybox ul ul li {
  float: left;
  padding-right: 5px;
}

div#contact_info {
  clear: both;
  background: #fff;
}

div#contact_info ul {
  list-style-type: none;
}

div#contact_info ul li {
  display: inline;
  font-weight: bold;
  margin-right: 2.8em;
}

div#content {
  width: 750px;
  padding-top: 10px;
}

#main {
  margin: 10px;
  width: 730px;
}

div#cover2010 {
  background: url('/images/te-theme3/book2010.png') no-repeat ;
}

div#cover2009 {
  background: url('/images/te-theme3/book2009.png') no-repeat;
}

div#cover2010, div#cover2009 {
  background-position: top center;
  width: 203px;
  height: 100%;
  margin-top: -20px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
}

div.main_content {
  background: url('/images/te-theme3/gradient-gray-vertical.png') repeat-x;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 256px;
  width: 736px;
  color: #003366;
  border-left: 2px solid #d6d6de;
  border-right: 2px solid #d6d6de;
}

div.main_content a, div.main_content a:visited {
  color: #003366;
  text-decoration: none;
}

div.main_content a:hover {
  color: #003366;
  background-color: transparent;
  text-decoration: underline;
}


div.main_content_top {
  margin-top: 20px;
  background: url('/images/te-theme3/boxtop.png') no-repeat;
  width: 741px;
  height: 27px;
}

div.main_content_bottom {
  background: url('/images/te-theme3/boxbottom.png') no-repeat;
  width: 741px;
  padding-top: 0;
  margin-top: 0;
  height: 24px;
}

div.up {
  display: none;
}

div.up div, div.up a {
  display: block;
}

div.dropdown:hover div.up {
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -1em;
  left: 350px;
  background-color: #eee;
  padding: 6px;
  border: 2px solid #aaa;
}

div.main_content h1 {
  font-size: 1.6em;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bold;
}

div.main_content h2 {
	margin-left: 0;
	padding-left: 0;
  font-size: 16px;
}

div.main_content ul {
  position: relative;
  top: -10px;
  padding-left: 1.75em;
  list-style-type: none;
  margin-left: -14px;
  margin-bottom: -10px;
	
}

div.main_content ul li {
  margin-bottom: 1px;
  font-size: 95%;
}
 
.categories, .category, .regions, .region  {
  margin-top: 10px;
  font-size: 75%;
} 

#subcategories, .subcategories {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 120%;
  width: 600px;
  margin: 0 auto;
}

#wrapper {
  float: left;
  width: 100%;
}

#column1 {
  margin-right: 400px;
}

#column2 {
  float: left;
  width: 200px;
  margin-left: -400px;
}
#column3 {
  float: left;
  width: 200px;
  margin-left: -200px;
}

#clear {
  clear: left;
  width: 100%;
}
  




/* Listings */

.listing_subcategory {
  margin-top: 50px;
  font-family: helvetica, arial, sans-serif;
}

.listing_rule {
  margin-bottom: -10px;
}

.listings_mask {
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden;	
}

.listings {
  font-family: helvetica, arial, sans-serif;
	float: left;
	width: 100%;
	position: relative;
}

.listings_left, .listings_right {
	float: left;
	position: relative;
	padding: 0 0 1em 0;
	overflow: hidden;
}

.listings {
	right: 50%;
	background: #fff;
}

.listings_left {
	width: 46%;
	left: 52%;
}

.listings_right {
	width: 46%;
	left: 56%;
}

.listing {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: helvetica, arial, sans-serif;
  font-size: 120%;
  padding: 3px;
}

.even {
  background-color: #cff;
}



/* Old stuff */


#leftsidebar {
  padding-right: 15px;
}

#searchbox {
  padding-bottom: 15px;
  border-bottom: thin solid gray;
}

#categorybox {
  margin-top: 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}




/* Rails stuff */
  
 
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
 
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
 
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
 
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
 
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
 
div.uploadStatus {
  margin: 5px;
}
 
div.progressBar {
  margin: 5px;
}
 
div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}
 
div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

table.nice {
	border-width: 2px;
	border-spacing: 3px;
	border-style: groove;
	border-color: gray;
	border-collapse: separate;
}

table.nice th, table.nice td {
	border-width: 1px;
	padding: 4px;
	border-style: groove;
	border-color: gray;
	-moz-border-radius: 4px;
}

.aligncenter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sideimage {
  margin-left: 35px;
}


/* Downloads bar */

div#downloads {
  font-size: 12px;
  margin-left: 40px;
  font-weight: bold;
}

span#downloads_text {
  font-size: 12px;
  font-weight: normal;
  padding-right: 10px;
}


div.purple_button a, div.purple_button a:hover, div.purple_button a:visited {
  color: #fff;
  text-decoration: none;
}

div.purple_button a:hover {
  color: #ddd;
}

