<%= button_to 'New category', new_category_path %>

<h1>Category List</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for category in @categories %>
  <tr>
    <td><%=link_to h(category.name), category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>