<%= button_to 'New region', new_region_path %>

<h1>Regions</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for region in @regions %>
  <tr>
    <td><%=link_to h(region.name), region %></td>
    <td><%= link_to 'Edit', edit_region_path(region) %></td>
    <td><%= link_to 'Destroy', region, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>